@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active{
  text-decoration: none;

}

.App{
  width: 500px;
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding-top: 20px;
  background-color: #eee;
  text-align: center;
  border-radius: 10px;

  font-family: 'GongGothicMedium';
}
